.page_list {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-out 0s;
  z-index: 1010;
  font-family: Raleway, Arial, "Helvetica Neue", Helvetica, sans-serif;
  // alternatively: clip to original size without overlap
  //overflow: hidden;

  a {
    img {
      transition: all 0.3s ease-out 0s;
      display: block;
      max-width: 100%;
    }
  }

  .overlay {
    z-index: 1020;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    color: #ffffff;
    text-align: center;
    //line-height: 1.0em;

    .title {
      font-size: 1.75em;
      line-height: 120%;
      transition: all 0.3s ease-out 0s;
      position: absolute;
      display: block;
      width: 100%;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .text {
      background-color: #000000;
      font-weight: bold;
      padding: 2px 16px 8px 16px;
      box-decoration-break: clone;

      & > div {
        display: inline-block;
      }
    }

    .title-bottom {
      top: auto;
      bottom: 0%;
      text-align: left;
    }
  }

  a:hover {
    img {
      transform: scale(1.1);
    }

    .overlay {
      //line-height: 1.1rem;

      .title {
        text-decoration: underline;
        // slightly bigger than img scale for a z-parallax effect
        transform: translateY(-50%) scale(1.12);
      }

      .text {
        background-color: #FF0099;
      }

      .title-bottom {
        top: auto;
        bottom: 0%;
      }
    }

  }

}
